doctype html
html
  head
    
    link(rel='stylesheet', href='/stylesheets/resGraph.css')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    
  body
    h1 Search Result
    div(id="myDiv")

    script(src='/javascripts/graphScript.js'
    cluster0Size = cluster0_size
    cluster0Text = cluster0_text  
    cluster1Size = cluster1_size
    cluster1Text = cluster1_text
    cluster2Size = cluster2_size
    cluster2Text = cluster2_text
    cluster3Size = cluster3_size
    cluster3Text = cluster3_text
  )
    //- include cytoscape.js
      //- cluster1Text = cluster1_text
    //- cluster2Text = cluster2_text
    //- cluster3Text = cluster3_text
    //-  cluster1Size = cluster1_size
    //- cluster2Size = cluster2_size
    //- cluster3Size = cluster3_size